* {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-background {
  --background-color-main: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color-main);
}

.header {
  --background-color: #45aaf2;
  color: #fff;
  background-color: var(--background-color);
  padding: 20px 0;

  &-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 30%;
      text-align: left;
    }
    &__center {
      text-align: center;
      width: 40%;

      h1 {
        margin: 0;
        padding: 5px;
        font-size: 30px;
      }
    }
    &__right {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.main {
  margin: auto;

  .player {
    height: 420px;
    width: 750px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;

    &:fullscreen {
      max-width: none;
      width: 100%;
    }

    &:-webkit-full-screen {
      max-width: none;
      width: 100%;
    }

    &__video {
      width: 100%;
    }

    &__button {
      background: none;
      border: 0;
      line-height: 1;
      color: white;
      text-align: center;
      outline: 0;
      padding: 0;
      cursor: pointer;
      max-width: 50px;
      font-size: 24px;
      font-weight: 600;

      &:focus {
        border-color: #ffc600;
      }
    }

    &__slider {
      width: 10px;
      height: 30px;
    }

    &__controls {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(100%) translateY(-5px);
      transition: all 0.3s;
      flex-wrap: wrap;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .player:hover .player__controls {
    transform: translateY(0);
  }

  .player:hover .progress {
    height: 15px;
  }

  .player__controls > * {
    flex: 1;
  }

  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;

    &__filled {
      width: 50%;
      background: #ffc600;
      flex: 0;
      flex-basis: 100%;
    }
  }

  /* unholy css to style input type="range" */
  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        background: #bada55;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
      background: rgba(255, 255, 255, 0.8);
      border-radius: 1.3px;
      border: 0.2px solid rgba(1, 1, 1, 0);
    }

    &::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50px;
      background: #ffc600;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3.5px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }

    &::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
      background: #ffffff;
      border-radius: 1.3px;
      border: 0.2px solid rgba(1, 1, 1, 0);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
      height: 15px;
      width: 15px;
      border-radius: 50px;
      background: #ffc600;
      cursor: pointer;
    }
  }
}

.footer {
  --background-color: #45aaf2;
  color: #fff;
  background-color: var(--background-color);
  padding: 8px 0;

  &-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 50%;
      text-align: left;
    }
    &__right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

// Toggle switch
.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
}

.theme-switch__input {
  opacity: 0;

  &:hover,
  &:focus {
    + .theme-switch__label {
      background-color: lightSlateGray;
    }

    + .theme-switch__label span::after {
      background-color: lighten(lightBlue, 10%);
    }
  }
}

.theme-switch__label {
  padding: 20px;
  margin: 20px;
  right: 5%;
  transition: background-color 200ms ease-in-out;
  width: 110px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &::before,
  &::after {
    font-size: 2rem;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
  }

  &::before {
    content: "\263C";
    right: 100%;
    margin-right: 10px;
    color: orange;
  }

  &::after {
    content: "\263E";
    left: 100%;
    margin-left: 10px;
    color: lightSlateGray;
  }

  span {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  span::after {
    position: absolute;
    top: calc(100% + 15px);
    left: 5px;
    width: 30px;
    height: 30px;
    content: "";
    border-radius: 50%;
    background-color: lightBlue;
    transition: transform 200ms, background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

// Checked label styles
.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;

  &::before {
    color: lightSlateGray;
  }

  &::after {
    color: turquoise;
  }

  span::after {
    transform: translate3d(70px, 0, 0);
  }
}

// Changing theme

.theme-switch__input:checked ~ .main-background {
  --background-color-main: #7f8c8d;
}

.theme-switch__input:checked ~ .main-background .header,
.theme-switch__input:checked ~ .main-background .footer {
  --background-color: #34495e;
}

.theme-switch__input:checked ~ .main-background .main .key {
  --key-color: #34495e;
  background: rgba(#34495e, 0.4);
}
