* {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-background {
  --background-color-main: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color-main);
}

.header {
  --background-color: #45aaf2;
  color: #fff;
  background-color: var(--background-color);
  padding: 20px 0;

  &-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 30%;
      text-align: left;
    }
    &__center {
      text-align: center;
      width: 40%;

      h1 {
        margin: 0;
        padding: 5px;
        font-size: 30px;
      }
    }
    &__right {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.main {
  .keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .key {
    --key-color: #3867d6;
    border: 0.4rem solid var(--key-color);
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(#3867d6, 0.4);
    text-shadow: 0 0 0.5rem black;
  }
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

  kbd {
    display: block;
    font-size: 4rem;
    cursor: pointer;
  }

  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
    cursor: pointer;
  }
}

.footer {
  --background-color: #45aaf2;
  color: #fff;
  background-color: var(--background-color);
  padding: 8px 0;

  &-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 50%;
      text-align: left;
    }
    &__right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

// Toggle switch
.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
}

.theme-switch__input {
  opacity: 0;

  &:hover,
  &:focus {
    + .theme-switch__label {
      background-color: lightSlateGray;
    }

    + .theme-switch__label span::after {
      background-color: lighten(lightBlue, 10%);
    }
  }
}

.theme-switch__label {
  padding: 20px;
  margin: 20px;
  right: 5%;
  transition: background-color 200ms ease-in-out;
  width: 110px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &::before,
  &::after {
    font-size: 2rem;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
  }

  &::before {
    content: "\263C";
    right: 100%;
    margin-right: 10px;
    color: orange;
  }

  &::after {
    content: "\263E";
    left: 100%;
    margin-left: 10px;
    color: lightSlateGray;
  }

  span {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  span::after {
    position: absolute;
    top: calc(100% + 15px);
    left: 5px;
    width: 30px;
    height: 30px;
    content: "";
    border-radius: 50%;
    background-color: lightBlue;
    transition: transform 200ms, background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

// Checked label styles
.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;

  &::before {
    color: lightSlateGray;
  }

  &::after {
    color: turquoise;
  }

  span::after {
    transform: translate3d(70px, 0, 0);
  }
}

// Changing theme

.theme-switch__input:checked ~ .main-background {
  --background-color-main: #7f8c8d;
}

.theme-switch__input:checked ~ .main-background .header,
.theme-switch__input:checked ~ .main-background .footer {
  --background-color: #34495e;
}

.theme-switch__input:checked ~ .main-background .main .key {
  --key-color: #34495e;
  background: rgba(#34495e, 0.4);
}
